@model CaseListViewModel

@{
    ViewData["Title"] = "Case List";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-secondary text-white d-flex flex-column flex-md-row align-items-center justify-content-between">
            <h3>Cases for @Model.LawyerName</h3>
            <div class="d-flex gap-2">
                <a asp-controller="Organization" asp-action="Index" class="btn btn-dark">Back</a>
                <a asp-controller="Case" asp-action="CreateCase" asp-route-lawyerId="@Model.LawyerId" class="btn btn-light">Add Case</a>
            </div>
            
        </div>
        <div class="card-body">
            @if (Model != null && Model.Cases.Any())
            {
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Case Number</th>
                            <th>Title</th>
                            <th class="hide-on-mobile">Client Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var caseItem in Model.Cases)
                        {
                            <tr>
                                <td><a asp-controller="Case" asp-action="CaseDetails" asp-route-caseId="@caseItem.Id">@caseItem.CaseNumber</a></td>
                                <td>@caseItem.Name</td>
                                <td class="hide-on-mobile">@caseItem.ClientName</td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <a asp-controller="Case" asp-action="EditCase" asp-route-caseId="@caseItem.Id" class="btn btn-sm btn-warning">Edit</a>
                                        <a asp-controller="Case" asp-action="DeleteCase" asp-route-caseId="@caseItem.Id" class="btn btn-sm btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-muted">No cases found.</p>
            }
        </div>
    </div>
</div>